@import "tailwindcss";

:root {
  --background: #A47864;
  --background-100: #C6AB9F; 
  --background-200: #ECE3DF; 
  --foreground: #000000;
  --dark: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle,var(--background-200) 0%, var(--background-100) 72%, var(--background) 100%);;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
